@import "tailwindcss";

html,
body {
  @apply bg-black text-white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@layer utilities {
  .animate-scroll-left {
    animation: scrollLeft 40s linear infinite;
  }

  .animate-scroll-right {
    animation: scrollRight 40s linear infinite;
  }

  @keyframes scrollLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-left {
    animation: scrollLeft 30s linear infinite;
  }
}
